<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
     <p><%= error %></p>
    <% end %>
<% end %>

<h3>New Chatroom</h3>
<%= form_for @chatroom do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>    

<%= f.hidden_field :from_id, :value=>@current_user.id%>

    
<%= f.submit %>
<% end %>