<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
     <p><%= error %></p>
    <% end %>
<% end %>
<div id="messageinput">
<%= form_for :message do |f| %>

<%= f.text_field :content %>

<%= f.hidden_field :from_id, :value=>@current_user.id%>
<%= f.hidden_field :to_id, :value=>@chatroom.get_other_user(@current_user).id%>
<%= f.hidden_field :chatroom_id, :value=>@chatroom.id%>    

<%= f.submit "//", :class=>'submit'%>
<% end %>
</div>