<h1>Profile</h1>

<% if @current_user.id  ==  @user.id %>
<p>Name: <%= @user.name %></p>
<% end %>
<p>Username: <%= @user.username %></p>
<img src="<%= @user.img_url%>" alt=" <%= @user.name %>">
<p>Bio: <%= @user.bio %></p>

<% if @current_user.id  ==  @user.id %>
<%= link_to "New  Chatroom", new_chatroom_path%>
<%= link_to "Edit Profile", edit_user_path(@user.id)%>
<% if @current_user.chatrooms == nil %>
<%= link_to "Chatrooms", chatroom_path(@current_user.chatrooms.first) %>
<% end %>
<%= link_to "Delete", user_path(@user), method: :delete %>
<% end %>
