<!DOCTYPE html>
<html>
  <head>
    <title>Chatapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%if session[:user_id]==nil%>
  <%= link_to 'login', login_path %><br/>
  <%= link_to 'Create an Account', new_user_path %><br/>
<%else%>
  <p id="logout"><%= link_to 'logout', logout_path %></p>
  <%=render "partials/sidebar"%>
<%end%>
  </body>
</html>
