<!DOCTYPE html>
<html>
  <head>
    <title>Chatapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%if @current_user==nil%>
    <div id="logincontainer">
      <div id="login">
        <%=yield%>
      </div>
    </div>
    <div id="bottomnav">
      <h1> // Flack</h1>
    </div>
  <%else%>
  <div id="navbar">
  <h1> // Flack</h1>
  <ul id="navlinks">
    <p id="profile"><%= link_to "Welcome, #{@current_user.name}", user_path(@current_user) %></p>
    <p id="logout"><%= link_to 'logout', logout_path %></p>
  </ul>
  </div>
    <div id='app'>
    
        <ul id=sidebar>
          <%Chatroom.get_active_chatrooms(@current_user.id).each do |chatroom|%>
              <%=link_to_unless_current(chatroom.title,chatroom_path(chatroom)) do %>
                  <li id="chatroom">
                    <%=link_to chatroom.title, chatroom_path(chatroom), id: 'current'%>
                  </li>
               <%end%>
          <%end%>
        </ul>

    <div id="messages">
        <%=yield%>
        <div id="anchor"></div>
    </div>
</div>
<%end%>
  </body>
</html>
